.logo {
  align-self: center;
  font-weight: bold;
  color: black;
  background-color: hsl(var(--accent-color));
  padding: 0.4rem 0.8rem ;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
}

nav ul li {
  display: inline-flex;
  padding:  0.5rem 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--space);
}

.gallery a {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-dark);
}

.gallery img {
  height: 12rem;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.gallery a span {
  padding:  calc(var(--space) / 2);
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.pagination button {
  padding: 0.5rem 0.7rem;
}

.gallery_name {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--space);
  margin-bottom: 1.5rem;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: min(100%, 25rem);
}

.login_inner {
  padding: var(--space);
  background: hsla(0, 0%, 100%, 0.1);
  border: var(--border-width) solid hsla(0, 0%, 100%, 0.15);
  border-radius: var(--border-radius);
}

.login fieldset.submit {
  margin-top: calc(var(--space) * 2);
}

.dashboard button {
  padding: 0.4rem 0.8rem;
}

.gap-1 {
  gap: var(--space);
}

.upload_previews__inner {
  padding: var(--space);
  border: var(--border-width) solid hsla(0, 0%, 100%, 0.15);
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space);
}

.upload_previews__inner .preview {
  position: relative;
}

.upload_previews__inner img {
  height: 12rem;
  width: 18rem;
  border-radius: var(--border-radius);
}

.upload_previews__inner .remove {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 100%;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: red;
  cursor: pointer;
}

.upload_previews__inner .new {
  height: 12rem;
  width: 18rem;
  border-radius: var(--border-radius);
  border: var(--border-width) solid hsla(0, 0%, 100%, 0.15);
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
  display: flex;
}

.upload_previews__inner .new svg {
  height: 4rem;
  width: 4rem;
  fill: hsla(0, 0%, 100%, 0.2);
}